interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.song.link/v1-alpha.1/links?songIfSingle=true&url=https%3A%2F%2Fopen.spotify.com%2Ftrack%2F0SZemtszoaQHL3aUuMS6WF&userCountry=DE
  response:
    content: '{"entityUniqueId":"SPOTIFY_SONG::0SZemtszoaQHL3aUuMS6WF","userCountry":"DE","pageUrl":"https://song.link/s/0SZemtszoaQHL3aUuMS6WF","entitiesByUniqueId":{"AMAZON_SONG::B09VK61VGP":{"id":"B09VK61VGP","type":"song","title":"Bum
      Bum Eis","artistName":"Finch, Esther Graf","thumbnailUrl":"https://m.media-amazon.com/images/I/61YjrDfWWjL.jpg","thumbnailWidth":500,"thumbnailHeight":500,"apiProvider":"amazon","platforms":["amazonMusic","amazonStore"]},"AUDIOMACK_SONG::14759085":{"id":"14759085","type":"song","title":"Bum
      Bum Eis","artistName":"FiNCH, Esther Graf","thumbnailUrl":"https://assets.audiomack.com/finch-music/8339c1571990484f67e1c077c26c6d1098fb537d0139d852fcc4a6e69e715875.jpeg?width=500&height=500&max=true","thumbnailWidth":500,"thumbnailHeight":500,"apiProvider":"audiomack","platforms":["audiomack"]},"ANGHAMI_SONG::1026703116":{"id":"1026703116","type":"song","title":"Bum
      Bum Eis","artist[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.song.link/v1-alpha.1/links?songIfSingle=true&url=https%3A%2F%2Fopen.spotify.com%2Ftrack%2F0d28khcov6AiegSCpG5TuT&userCountry=DE
  response:
    content: '{"entityUniqueId":"SPOTIFY_SONG::0d28khcov6AiegSCpG5TuT","userCountry":"DE","pageUrl":"https://song.link/s/0d28khcov6AiegSCpG5TuT","entitiesByUniqueId":{"AMAZON_SONG::B000TDYS9C":{"id":"B000TDYS9C","type":"song","title":"Feel
      Good Inc","artistName":"Gorillaz","thumb[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.song.link/v1-alpha.1/links?songIfSingle=true&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DdTAAsCNK7RA&userCountry=DE
  response:
    content: '{"entityUniqueId":"YOUTUBE_VIDEO::dTAAsCNK7RA","userCountry":"DE","pageUrl":"https://song.link/y/dTAAsCNK7RA","entitiesByUniqueId":{"AMAZON_SONG::B08CS44BC3":{"id":"B08CS44BC3","type":"song","title":"Here
      It Goes Again","artistName":"OK Go","thumbnailUrl":"https://m.media-a[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.song.link/v1-alpha.1/links?songIfSingle=true&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D0_S3ytsXlIA&userCountry=DE
  response:
    content: '{"entityUniqueId":"YOUTUBE_VIDEO::0_S3ytsXlIA","userCountry":"DE","pageUrl":"https://song.link/y/0_S3ytsXlIA","entitiesByUniqueId":{"YOUTUBE_VIDEO::0_S3ytsXlIA":{"id":"0_S3ytsXlIA","type":"song","title":"An
      Apple","artistName":"tykylevits","thumbnailUrl":"https://i.ytimg.com/vi/0_S3ytsXlIA/hqdefault.jpg","thumbnailWidth":480,"thumbnailHeight":360,"apiProvider":"youtube","platforms":["youtube","youtubeMusic"]}},"linksByPlatform":{"youtube":{"country":"DE","url":"https://www.youtube.com/watch?v=0_S3ytsXlIA","entityUniqueId":"YOUTUBE_VIDEO::0_S3ytsXlIA"},"youtubeMusic":{"country":"DE","url":"https://music.youtube.com/watch?v=0_S3ytsXlIA","entityUniqueId":"YOUTUBE_VIDEO::0_S3ytsXlIA"}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-matching-id:
      - 15d3a098-80ad-452f-938e-822403968227
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.song.link/v1-alpha.1/links?songIfSingle=true&url=https%3A%2F%2Fgoogle.com&userCountry=DE
  response:
    content: '{"statusCode":400,"code":"could_not_resolve_entity"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-content-matching-id:
      - 9072f6ef-ab87-49b1-a3cf-5196584e8faa
    status_code: 400
version: 1
